[user]
	email = andrii.kryvulko@hotmail.com
	name = Andrii Kryvulko

[color]
	ui = true

[push]
	default = simple
	autoSetupRemote = true

[help]
	autocorrect = 1

[core]
	autocrlf = input
	editor = code --wait

[init]
	defaultBranch = main

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	lg = log --oneline --graph --decorate
	last = log -1 HEAD
	unstage = reset HEAD --

[include]
	path = ~/.gitconfig.local
